.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 480px;
  margin-bottom: calc(var(--offset-base-size) * 6);
}

.text {
  margin-bottom: calc(var(--offset-base-size) * 4);
}

.form > div {
  width: 100%;
  margin-bottom: calc(var(--offset-base-size) * 6);
}

.form > div > div {
  width: 100%;
}

.form > button {
  margin-bottom: calc(var(--offset-base-size) * 6);
}

.link {
  color: #4c4cff;
}
