.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 640px;
}

.number {
  margin-bottom: calc(var(--offset-base-size) * 10);
}

.name {
  align-self: flex-start;

  margin-bottom: calc(var(--offset-base-size) * 3);
}

.status {
  align-self: flex-start;

  margin-bottom: calc(var(--offset-base-size) * 15);

  color: #0cc;
}

.title {
  align-self: flex-start;

  margin-bottom: calc(var(--offset-base-size) * 6);
}

.ingredientsList {
  overflow: auto;

  max-height: 312px;
  margin-bottom: calc(var(--offset-base-size) * 10);
  padding-right: calc(var(--offset-base-size) * 6);
}

.ingredient {
  display: flex;
  align-items: center;

  height: 64px;
  margin-bottom: calc(var(--offset-base-size) * 4);
}

.ingredientInfo {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: space-between;

  margin-left: calc(var(--offset-base-size) * 4);
}

.ingredientIcon {
  position: relative;

  box-sizing: border-box;
  width: 64px;
  height: 64px;

  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(black, black), linear-gradient(to right, #801ab2, #4c4cff);
  background-clip: content-box, border-box;
}

.ingredientIcon > img {
  position: absolute;
  bottom: 2px;
  left: -25px;

  width: 112px;
  height: 56px;
}

.ingredientPrice {
  display: flex;
  align-items: center;

  margin-left: calc(var(--offset-base-size) * 4);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.orderPrice {
  display: flex;
  align-items: center;
}
