.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ldsDualRing {
  display: inline-block;

  width: 58px;
  height: 58px;
}

.ldsDualRing::after {
  display: block;

  width: 30px;
  height: 30px;
  margin: 8px;

  content: ' ';
  animation: ldsDualRing 1.2s linear infinite;

  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
}

@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
