.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 10px;

  border: 1px solid rgb(255 255 255 / 30%);
  background-color: rgb(255 0 0 / 30%);
}
