.section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow: auto;
}

.ingredientsGroup {
  display: flex;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
  /* border: 1px solid #fff; */
}
