.wrapper {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;

  height: 100%;
  max-height: calc(100vh - 88px);
}

.container {
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.constructor {
  display: flex;
  justify-content: space-between;

  width: 100%;

  /* max-width: 1280px; */
}
