.container {
  display: flex;
  width: 1280px;
  margin-top: 140px;
  padding: 0 calc(var(--offset-base-size) * 4);
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin-right: calc(var(--offset-base-size) * 15);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: calc(var(--offset-base-size) * 20);
}

.menuLink {
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: var(--text-inactive-color);
  margin: calc(var(--offset-base-size) * 4) 0;
}

.menuLink:hover {
  color: var(--text-primary-color);
}

.menuLink.active {
  color: var(--text-primary-color);
}

.menuButton {
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: var(--text-inactive-color);
  margin: calc(var(--offset-base-size) * 4) 0;
  border: none;
  background: transparent;
  padding: 0;
}

.menuButton:hover {
  color: var(--text-primary-color);
  cursor: pointer;
}

.text {
  color: var(--text-inactive-color);
}
