.modal {
  position: relative;
  z-index: 1160;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 720px;

  /* min-height: 200px; */

  padding: calc(var(--offset-base-size) * 10);
  padding-bottom: calc(var(--offset-base-size) * 26);

  border-radius: 40px;
  background: #1c1c21;
  box-shadow:
    0 24px 32px rgb(0 0 0 / 4%),
    0 16px 24px rgb(0 0 0 / 4%),
    0 4px 8px rgb(0 0 0 / 4%),
    0 0 1px rgb(0 0 0 / 4%);
}

.title {
  margin-top: calc(var(--offset-base-size) * 3);
  margin-bottom: calc(var(--offset-base-size) * 3);
}

.emptyTitle {
  margin-bottom: calc(var(--offset-base-size) * 16);
}

.closeIcon {
  position: absolute;
  top: 60px;
  right: 40px;

  cursor: pointer;
}
