.header {
  display: flex;
  justify-content: center;
  background: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 16px 0;
  align-items: center;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .menu ul li {
  padding: 16px 16px;
} */

a {
  display: flex;
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
  margin: 16px;
}

a.active {
  opacity: 1;
}

a span {
  margin-left: 8px;
}

/* .login {

} */