.header {
  display: flex;
  justify-content: center;
  background: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  height: 88px;
  align-items: center;
}

.nav {
  display: flex;
}