.section {
  display: flex;
  flex-direction: column;

  width: 50%;
}

.dropTarget {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  /* border: 1px solid #1010e4; */
  max-height: 528px;

  background-color: #1c1c21;
}

.dropTargetHover {
  outline: 1px solid #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearBtn {
  margin: 0;
  padding: 0;

  cursor: pointer;

  color: var(--text-inactive-color);
  border: none;
  background: none;

  font-family: 'JetBrains Mono', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.clearBtn:hover {
  color: #fff;
}

.bun {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.itemsBox {
  overflow: auto;

  min-height: 82px;
  max-height: 368px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item:last-child {
  margin-bottom: 0;
}

.item svg {
  margin-right: 8px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: calc(var(--offset-base-size) * 4);
  margin-top: calc(var(--offset-base-size) * 8);
}

.total span svg {
  margin-left: 8px;
}
