@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: JetBrains Mono;
  font-style: normal;
}

a {
  color: #fff;
  text-decoration: none;
}
