@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: JetBrains Mono;
  font-style: normal;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar { 
  /* 1 - скроллбар */
  width: 8px;
  background-color: #2F2F37;
}

::-webkit-scrollbar-thumb { 
  /* 5 - ползунок */
  height: 50%;
  background-color: #8585AD;
}
