@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;

  font-family: JetBrains Mono, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 8px;

  background-color: #2f2f37;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  height: 50%;

  background-color: #8585ad;
}
